/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "temper.dtsi"
#include <dt-bindings/zmk/matrix_transform.h>

&default_transform {
    col-offset = <5>;
};

&kscan0 {
    col-gpios
        = <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        , <&pro_micro 20 GPIO_ACTIVE_HIGH>
        , <&pro_micro 21 GPIO_ACTIVE_HIGH>
        ;
};

// TPS43 Trackpad Configuration for Peripheral (Right Side)
// Connected to: D2/P0.17 (SDA) and D3/P0.20 (SCL)
// Using I2C1 as a separate bus since trackpad is on different pins than default I2C

// Configure I2C1 pinctrl for pins P0.17 (SDA) and P0.20 (SCL)
&pinctrl {
    i2c1_default: i2c1_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 17)>,
                    <NRF_PSEL(TWIM_SCL, 0, 20)>;
        };
    };

    i2c1_sleep: i2c1_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 17)>,
                    <NRF_PSEL(TWIM_SCL, 0, 20)>;
            low-power-enable;
        };
    };
};

&i2c1 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    
    pinctrl-0 = <&i2c1_default>;
    pinctrl-1 = <&i2c1_sleep>;
    pinctrl-names = "default", "sleep";
    
    tps43: iqs5xx@74 {
        status = "okay";
        compatible = "azoteq,iqs5xx";
        reg = <0x74>;
        
        reset-gpios = <&pro_micro 0 GPIO_ACTIVE_LOW>;
        rdy-gpios = <&pro_micro 1 GPIO_ACTIVE_HIGH>;
        
        // Gesture configuration
        one-finger-tap;
        press-and-hold;
        press-and-hold-time = <250>;
        two-finger-tap;
        
        // Scrolling
        scroll;
        natural-scroll-y;
        
        // Sensitivity settings
        bottom-beta = <15>;
        stationary-threshold = <5>;
        
        // Axis configuration (may need adjustment based on orientation)
        // switch-xy;
        // flip-x;
        // flip-y;
    };
};

// Configure the input-split to proxy trackpad data to central
&tps43_split {
    device = <&tps43>;
};
